.container {
            max-width: 350px;
            margin: 0 auto;
            background-color: white;
            padding: 31px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            background-color: lightgrey;
        }

        body {
           margin-left: 20%;
            margin-right: 20%;
            margin-top: 20%;
            margin-bottom: 20%;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }

        .center-text {
            text-align: center;
        }

        .right-alignment {
            text-align: right;
            font-weight: bold;
        }

        #header1 {
            font-size: small;
        }

        #header2 {
            font-weight: bold;
        }
        h2{
            text-align: center;
        }
        h4{
            text-align: center;
        }
        h3{
            text-align: center;
        }
    